{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ]
  }
}